body
 {
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3)),url(../Images/login-img.jpg);
    height:auto;
    background-position: center;
    background-size: cover;

    margin: 0px;
} 

.login-container {
    background-color: #fff;
    height: 500px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    padding: 10px;
    border-radius: 20px;
    border-top: 7px solid rgb(250, 49, 49);
    border-bottom: 5px solid rgb(250, 49, 49);
    border-left: 3px solid  rgb(250, 49, 49);   
    border-right: 4px solid   rgb(250, 49, 49);
    box-shadow: 4px 5px 2px 1px  rgb(250, 49, 49);

}

.login-heading {
    text-align: center;

}

.login-reg-page {
    color: red;
    text-decoration: none;
    display: inline-block;
}

.login-reg-page:hover {
    font-size: 17px;
}

.login-space {
    margin-top: 10px;
    padding-top: 10px;
    margin-left: 6px;
    font-weight: bold;

}

.login-email {
    margin-left: 10px;
    display: block;
    height: 35px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    padding: 0 10px;
}

.login-password {
    color: rgb(248, 68, 2);
    text-align: right;
    cursor: pointer;
}

.login-password:hover {
    font-size: 17px;
}

.login-button {

    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: rgb(248, 68, 2);
    color: white;
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    cursor: pointer;
    padding: 11px;

}

.login-button:hover {
    border:  2px solid black;
    background-color: white;
    color: rgb(248, 68, 2);
    
}

.another-login {
    text-align: center;
}

.login-img {
    display: inline-block;
    margin-left: 50px;
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width:35px;
    text-decoration: none;
 }
